<div ng-if="chat.isCreator">
    <md-contact-chips
            ng-model="chat.users"
            md-contact-name="name"
            md-contact-image="imgUrl"
            md-contact-email="email">
    </md-contact-chips>
</div>
<ol class="discussion" flex>
<li ng-repeat="item in chat.msgList" ng-class="item.sender===chat.getCurrentUser()._id ? 'self' : 'other'">
    <div class="avatar">
        <img ng-src="{{chat.usersMap[item.sender].imgUrl}}"/>
        <!--<img src="https://lh6.googleusercontent.com/-MifuaZBMQNM/AAAAAAAAAAI/AAAAAAAAAHo/FBniXbrIEQ4/s32-c-k-no/photo.jpg"/>-->
    </div>
    <div class="messages">
        <p>{{item.text}}</p>
        <time datetime="2009-11-13T20:14">{{item.sendTime | date:'medium'}}</time>
    </div>
</li>
</ol>
<div  layout="row">
    <input type="text" flex ng-model="inputMsg" ng-keypress="($event.which === 13) ? chat.sendWithSocket(inputMsg):return"/>
    <md-button class="md-icon-button" aria-label="Send">
        <md-icon md-svg-icon="/img/icons/ic_send_24px.svg" class="activeicon"/>
    </md-button>
</div>