<!-- public/views/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <title><%= title %></title>
</head>
<body>
<div class="text-center">
    <a href="/server/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
</div>

</body>
</html>