
<!--<h2>{{ peopleList.list }}</h2>-->

<!--class="layout wrap horizontal list"-->

<md-content>
    <md-list>

        <md-list-item class="md-3-line" ng-repeat="model in peopleList.list">
            <img ng-src="{{model.imgUrl}}" class="md-avatar" alt="{{model.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ model.name }}</h3>
                <h4>{{ model.email }}</h4>
            </div>
                    <!--<p>{{model.name}} </p>-->
            <!--<md-icon md-svg-icon="img/icons/ic_delete_24px.svg" class="md-secondary" aria-label="Open Chat"  ng-click="peopleList.deletePerson($index)"></md-icon>-->

            <md-divider  ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
<md-button c class="md-fab md-fab-bottom-right" ng-click="peopleList.showAdd($event)" aria-label="Create person">
    <md-icon md-svg-src="img/icons/ic_person_add_24px.svg"></md-icon>
</md-button>


