<md-divider></md-divider>
<md-subheader class="md-no-sticky">Menu</md-subheader>
<md-list ng-controller="LeftBarController">
    <md-list-item  md-ink-ripple ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}" class="flex">
            <md-item-content  layout="row" layout-align="start center" >
                <div class="inset">
                    <md-icon ng-class="{activeicon: isActive(item.link)}" md-svg-icon="{{item.icon}}" ></md-icon>
                </div>
                <div class="inset">{{item.title}}
                </div>
            </md-item-content>
        </a>
    </md-list-item>
</md-list>
