<div ng-controller="LeftBarController" ng-cloak>
    <md-toolbar class="" >
        <div layout="column" ng-show="isLoggedIn()" >
            <img name="profile-img" class="lg-avatar user-avatar-background" ng-src="{{getCurrentUser().imgUrl}}"/>
            <h4 name="profile-name" class="navbar-text">Name {{ getCurrentUser().name }}</h4>
            <h5 name="profile-email" class="navbar-text">email: {{ getCurrentUser().email}}</h5>

        </div>
    </md-toolbar>
    <md-list>
        <md-list-item md-ink-ripple ng-show="!isLoggedIn()">
            <a class="flex"  href="/login" layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon md-svg-icon="/img/icons/ic_login_24px.svg"></md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center">
                    <div class="inset">Login</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item md-ink-ripple ng-show="isLoggedIn()" >
            <a class="flex"  href="" ng-click="logout()" layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon md-svg-icon="/img/icons/ic_logout_24px.svg"></md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center" class="flex">
                    <div class="inset flex">Logout</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item md-ink-ripple ng-show="!isLoggedIn()">
            <a class="flex"  href="/signup" layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon md-svg-icon="/img/icons/ic_assignment_ind_24px.svg"></md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center" class="flex">
                    <div class="inset">Sign up</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
</div>
