<div ng-controller="LeftBarController">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" ng-show="isLoggedIn()" class="md-toolbar-tools-bottom">
            <span></span>
            <h4  class="navbar-text">Name {{ getCurrentUser().name }}</h4>
            <h5  class="navbar-text">email: {{ getCurrentUser().email}}</h5>

        </div>
    </md-toolbar>

    <md-list>
        <md-list-item ng-show="!isLoggedIn()">
            <a class="flex"  href="/login" layout="row" layout-align="start center">
                <div class="inset">
                    <ng-md-icon icon="login"></ng-md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center">
                    <div class="inset">Login</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item ng-show="isLoggedIn()" >
            <a class="flex"  href="" ng-click="logout()" layout="row" layout-align="start center">
                <div class="inset">
                    <ng-md-icon icon="logout"></ng-md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center" class="flex">
                    <div class="inset flex">Logout</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item ng-show="!isLoggedIn()">
            <a class="flex"  href="/signup" layout="row" layout-align="start center">
                <div class="inset">
                    <ng-md-icon icon="assignment_ind"></ng-md-icon>
                </div>
                <md-item-content  layout="row" layout-align="start center" class="flex">
                    <div class="inset">Sign up</div>
                </md-item-content>
            </a>
        </md-list-item>
</div>
