<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<md-content layout-padding>
  <div layout="column">
    <div>
      <h1>Sign up</h1>
    </div>
    <div layout="row">
      <form name="form" ng-submit="signupUser.register(form)" novalidate flex>

        <md-input-container ng-class="{ 'has-success': form.name.$valid && signupUser.submitted,
                                            'has-error': form.name.$invalid && signupUser.submitted }">

          <label>Name</label>
          <input type="text" name="name"  ng-model="signupUser.user.name"  required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </md-input-container>

        <md-input-container ng-class="{ 'has-success': form.email.$valid && signupUser.submitted,
                                            'has-error': form.email.$invalid && signupUser.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="signupUser.user.email" required mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && signupUser.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && signupUser.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ signupUser.errors.email }}
          </p>
        </md-input-container>

        <md-input-container  ng-class="{ 'has-success': form.password.$valid && signupUser.submitted,
                                            'has-error': form.password.$invalid && signupUser.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="signupUser.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && signupUser.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </md-input-container>

        <div layout="row">
          <md-button class="md-raised md-primary" type="submit">
            Sign up
          </md-button>
          <md-button class="md-raised md-accent" href="/login">
            Login
          </md-button>
        </div>

        <hr>
        <div>

          <md-button class="btn-facebook" href="/auth/facebook">facebook</md-button>
          <md-button class="btn-google-plus" href="/auth/google">Google+</md-button>
          <md-button class="btn-twitter" href="/auth/twitter">twitter</md-button>

        </div>
      </form>
    </div>
  </div>
  <hr>
</md-content>
